header {
  font-family: Georgia, Times, Times New Roman, serif;
  padding: 20px;
  margin-left: 20px;
  margin-right: 900px;
  float: "left";
  text-align: center;
  color: white;
  border-color: #777;
  background: #4aaaa5;
}
nav{
  position: relative;
  float: left;
  clear: both;

}
nav p {
	background: "black"
}
div {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background: #ffffff;	
  color: #777777
  margin-left: 100px;
}

.about-me {
	background: "black";
}